.icon {
	width: rem(22px);
	height: rem(22px);
}

.dark {
	@mixin dark {
		display: none;
	}

	@mixin light {
		display: block;
		color: var(--mantine-color-black);
	}
}

.light {
	@mixin light {
		display: none;
	}

	@mixin dark {
		display: block;
		color: var(--mantine-color-white);
	}
}
